main{
    background-color: #163d2b;
}


.container-fluid {
	position: relative;
    display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
    flex-wrap: wrap;
	
    
	
}
.bg-cover {
    background-size: cover !important;
}

.container-fluid .card{
	position: relative;
	width: 300px;
	height: 420px;
	background: rgba(206, 57, 57, 0.05);
	margin: 20px;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}

p, h4{
	color: aliceblue;
}


a.Ajuego:link {
    text-decoration: none;
    text-align: center;
	color: #f7fafd;

}

div.card:hover{
    background-color: #925217;
	color: rgb(255, 241, 241);
}

/* DISEÑO JUEGO INDIVIDUAL */


.juego{
	padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.cardjuego{
    max-width: auto;
    width: 100%;
    color: rgb(255, 255, 255);
    }

div.cardjuego:hover{
	background-color: rgb(146, 82, 23);
	color: rgb(255, 255, 255);
}

.container .cardjuego{
	position: relative;
	background: rgba(206, 57, 57, 0.05);
	margin: 20px;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}
	

	@media(max-width:768px){
    
		.cardjuego{
			width: 100%;
			padding: 1.5rem
			}
		}
			
	   
	
		.img-individual{
			height: fit-content;
			width: 100%;
			border-radius: 1%; 
			margin: 15px;   
			}

/* ESTRELLAS */

#form {
	width: 250px;
	margin: 0 auto;
	height: 50px;
  }
  
  #form p {
	text-align: center;
  }
  
  #form label {
	font-size: 20px;
  }
  
  input[type="radio"] {
	display: none;
  }
  
  label {
	color: grey;
  }
  
  .clasificacion {
	direction: rtl;
	unicode-bidi: bidi-override;
  }
  
  label:hover,
  label:hover ~ label {
	color: orange;
  }
  
  input[type="radio"]:checked ~ label {
	color: orange;
  }


/* CARRITO DE COMPRA */


table {
	border-collapse: collapse;
	letter-spacing: 1px;
	font-size: 0.8rem;
	margin-left: 5px;
	margin-right: 5px;
	background-color: azure;
  }
  
  th {
	background-color: #102b1e;
	color: rgb(240, 255, 240);
	text-align: center;
  }
  
  td {
	text-align: center;
	border-bottom: 1px solid #d6d6d6;
  }
  
  
  caption {
	padding: 10px;
  }


  
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}

/* Modal Content/Box */
.modal-content {
 
  margin: 15% auto; 
  padding: 20px;
  width: 70%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: rgb(255, 255, 255);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(210, 129, 129);
  text-decoration: none;
  cursor: pointer;
}

.registro{
	background-color: #102b1e;
	color: white;
}