main{
    background-color: #163d2b;
}

.container-fluid {
	position: relative;
    display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
    flex-wrap: wrap;
	
    
	
}
.bg-cover {
    background-size: cover !important;
}

.container-fluid .card {
	position: relative;
	width: 300px;
	height: 420px;
	background: rgba(206, 57, 57, 0.05);
	margin: 20px;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}

p, h4{
	color: aliceblue;
}


a.Ajuego:link {
    text-decoration: none;
    text-align: center;
	color: #f7fafd;

}

div.card:hover{
    background-color: rgb(255, 169, 88);
	color: black;
}

