
  
  .product-details {
    padding: 1px;
  }
  
  .line {
    border-bottom: 1px solid rgb(116, 221, 102);
  }
  
  .information span {
    font-size: 12px;
    font-weight: 500;
  }
  
  .information {
    margin-bottom: 5px;
  }
  
  .items {
    position: relative;
	background: rgba(98, 141, 98, 0.055);
	margin: 20px;
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.233);
	border-radius: 20px;
	
  }
  
  .spec {
    font-size: 11px;
  }